<div class="content" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ 'ssobre' | translate}}</h1>
    <div class="frontinfo" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxHide="true" fxShow.gt-sm="true">
            <img src="https://media.discordapp.net/attachments/1022937795737694298/1176189440004214845/man-working-computer-operating-room-with-blue-background-with-man-working-computer_950347-19137.png" alt="Dev-img"/>
            </div> 
            <ul>
                <li>{{ 'snome' | translate}}</li>
                <li>{{ 'sidade' | translate}}</li>
                <li>{{ 'slocal' | translate}}</li>
                <li>{{ 'sfac' | translate}}</li>
                <li>{{ 'sdev' | translate}}</li>
            </ul>

        </div>
    </div>
</div>

<div class="content" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ 'stec' | translate}}</h1>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">

    <div class="frontskills" data-aos="fade-up">

        <h2> {{ 'sfe' | translate}}</h2>
        <div fxLayout="row" class="icondisplay" fxLayoutAlign="space-around center">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968267.png" alt="HTML5" />
            <img src="https://cdn-icons-png.flaticon.com/128/919/919826.png" alt="CSS3" />
            <img src="https://cdn-icons-png.flaticon.com/128/136/136530.png" alt="JS" />
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968381.png" alt="TS" />
            <img src="https://ng-icons.github.io/ng-icons/assets/angular.svg" alt="ANGULAR" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1150px-React-icon.svg.png" alt="REACT" />
        </div>

    </div>

    <div class="frontskills" data-aos="fade-up">

        <h2> {{ 'sbe' | translate}}</h2>
        <div fxLayout="row" class="icondisplay" fxLayoutAlign="space-around center">
            <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/mysql/mysql-plain.svg" alt="SQL" />
            <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/firebase/firebase-plain.svg" alt="firebase" />
       </div>

    </div>

    <div class="frontskills" data-aos="fade-up">

        <h2> {{ 'spoo' | translate}}</h2>
        <div fxLayout="row" class="icondisplay" fxLayoutAlign="space-around center">
            <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/java/java-original.svg" alt="Java" />
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="Python" />
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="C#" />
        </div>

    </div>
</div>

</div>
